html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1000px) {
    html{
        margin-top: 5rem;
    }
    .container{
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .mern {
        font-size: small;
    }
}

html {
    display: flex;
}

.container {
    margin-top: 2rem;
}

.welcome{
    text-align: center;
}

.info{
    text-align: center;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    line-height: 2rem;
}

.projects{
    text-align: center;
    line-height: 50px;
}

.myProjects{
    background-color: rgb(165, 163, 163);
    border: solid black 2px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.java a{
    text-decoration: none;
    color: black;
}

.python{
    background-color: rgb(165, 163, 163);
    border: solid black 2px;
}

.python a{
    text-decoration: none;
    color: black;
}

.mern a {
    text-decoration: none;
    color: black;
}

.about {
    background-color: rgb(165, 163, 163);
    border: solid black 2px;
    text-align: center;
    line-height: 2rem;
    padding: 2px;
}

.contact {
    text-align: center;
    line-height: 2rem;
    padding: 2px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.certifications {
    text-align: center;
    background-color: rgb(165, 163, 163);
    border: solid black 2px;
    padding: 2px;
}

#Github {
    color: #66c2ff;
}